<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>CDA import web application</display-name>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>wsservlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ServletTestRest</servlet-name>
		<servlet-class>org.aktin.cda.servlet.TestRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletTestRest</servlet-name>
		<url-pattern>/servlet/testrest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wsservlet</servlet-name>
		<url-pattern>/wsservlet/*</url-pattern>
	</servlet-mapping>
</web-app>