name: Build and Publish Demo Distribution Docker

on:
  push:
    tags:
      - v[0-9]+.[0-9]+**
  workflow_dispatch:

env:
  IMAGE: ghcr.io/aktin/demo-distribution-docker

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Setup Java 11
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'

      - name: Login to GHCR
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image via Maven
        run: mvn -B clean package -DskipTests

#      - name: Push Docker Images
#        run: docker push --all-tags ${{ env.IMAGE }}
